.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 17px;
  justify-content: center;
}
.card {
  width: 100px;
  height: 140px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}


.card img.flipped {
  transform: scale(1.1);
  filter: brightness(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
#cursorMagic {
  z-index: 9999 !important;
}


@media (max-width: 768px) {
  .App {
    width: 100%;
    padding: 10px;
  }

  .card-grid {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .card {
    width: 80px;
    height: 110px;
  }

  button {
    font-size: 0.9em;
    padding: 5px 10px;
    width: 80%;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .card {
    width: 65px;
    height: 90px;
    margin: 2px;
  }

  .card-grid {
    gap: 4px;
  }
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}





.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}









@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}