@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.Header {
    width: 100%;
    padding: 1rem;
    background: none !important;
    border: 2px solid #444;
    border-radius: 12px;

}
html, body {
    height: 100%;
    margin: 0;
    animation: slide-in-fwd-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;
}
@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}





.card-list:has(.carde:hover) .carde:not(:hover) {
    filter: blur(4px);
    transition: filter 0.3s ease-in-out;
}

/* Чтобы при снятии ховера анимация тоже плавно уходила */
.card-list .carde {
    transition: filter 0.3s ease-in-out;
}













