.Header {
    width: 100%;
    padding: 1rem;
    background: none !important;
    border: 2px solid #444;
    border-radius: 12px;

}
html, body {
    height: 100%;
    margin: 0;
    animation: slide-in-fwd-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;
}
@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}




